<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    hi
    <p>
     Nikal
    </p>
    <h2>
    Paili fursat me nikal
    </h2>
  </body>
</html>