<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		html, body{
  height: 100%;
}
body { 
			background-image: url(https://www.lib.ncsu.edu/sites/default/files/hunt1.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
  
}
.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:45%;
  top: 20%; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  padding: 0.5em;
}

a, a:visited{
	color: white;
	text-decoration: none;
}
	</style>
}
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
<div class="wrapper">
  <div class="message">

  	<% if student_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_student_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_student_session_path) %>  
  </li>
<% end %>


  </div>
</div>
</body>
</html>